.footer-dark {
    display: block;
    bottom: 0;
}

.footer-dark {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: static;
    bottom: 0;
    background-color: rgb(22, 22, 22);
    color: white;
    opacity: 0.9;
    justify-content: space-between;
    padding-bottom: 3em;
}

.footer-left-side {
    display: block;
    grid-column: 3/7;
}

.name-footer-dark>ul>li {
    font-family: "Open Sans";
    list-style: none;
    padding: 0.8em;
}